.container {
    position: relative;
    text-align: center;
    color: black;
  }
.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    text-size-adjust: 30%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
  }
.intro1 {
    color: royalblue;
    position: absolute;
    bottom: 50%;
    left: 50%;
  }
nav{
    padding: 20px;
    float: right;
    background-color: cadetblue;
    width: 100%;
    padding-bottom: -10px;
}
nav ul li{
    display: inline;
  }
  nav ul li a{
    text-decoration: none;
    padding: 10px;
  }
header>nav{
    display: inline;
}
img{
    width: 100%;
    height: 40%;
}
.oloo{
    text-align: center;
    /* padding-top: 50px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
span{
    font-weight: bold;
}
.oloo>img{
    height: 270px;
    width: 285px;
    border-radius: 50%;
}
footer{
    background-color: cornflowerblue;
    text-align: center;
}
*h2{
    text-align: center;
}